
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="container-fluid">
  
        <form class="d-flex input-group w-auto">
          <a class="navbar-brand" href="#">SpotiApp</a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item enlace" routerLinkActive="active" >
              <a class="nav-link" routerLink ="inicio">Inicio </a>
            </li>
            <li class="nav-item enlace" routerLinkActive="active" >
              <a class="nav-link" routerLink ="buscar">Buscar </a>
            </li>
          </ul>
  
        </form>
      </div>
    </div>
    </nav>
  